@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary: #4831d4;
    --darkShade: #001037;
    --lemon: #ccf381;
    --darkShade: #offWhite;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* ===== HOME PAGE - HERO SECTION ===== */

.blur-ellipse {
  position: absolute;
  /* width: 460px; */
  height: 322.39px;
  bottom: 0;
  background: var(--lemon);
  opacity: 0.3;
  filter: blur(35px);
  transform: matrix(1, 0, 0, -1, 0, 0);
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

.hero-card-one {
  box-sizing: border-box;
  position: absolute;
  width: 70%;
  height: 75%;
  background: var(--lemon);
  border: 7.31872px solid #fbfff2;
  border-radius: 39.4333px;
  transform: rotate(12.83deg);
}

.hero-card-two {
  box-sizing: border-box;
  position: absolute;
  width: 70%;
  height: 75%;
  background: var(--lemon);
  border: 7.31872px solid #fbfff2;
  border-radius: 39.4333px;
  transform: rotate(-11.3deg);
}

.hero-img {
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  width: 70%;
  height: 75%;
  background: url(/img/Prophet-Bestman.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 7.31872px solid #fbfff2;
  border-radius: 39.4333px;
}

.clip-bottom {
  clip-path: polygon(93% 57%, 100% 0, 100% 100%, 0 100%);
  background-color: var(--primary);
  height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -1px;
  /* border-bottom: #4831d4 solid 3px; */
  z-index: 5;
}

/* ===== PORTFOLIO PAGE ===== */

.shape {
  background-color: var(--lemon);
  height: 869px;
  position: absolute;
  top: 0;
  width: 100%;
}

.left-shape {
  clip-path: polygon(0 0, 0% 100%, 24% 75%);
}
.right-shape {
  clip-path: polygon(100% 0, 90% 27%, 100% 40%);
  top: -100px;
}

@media only screen and (max-width: 600px) {
  .shape {
    height: 690px;
  }

  .left-shape {
    clip-path: polygon(0 10%, 0 100%, 47% 88%);
  }
  .right-shape {
    clip-path: polygon(100% 0, 90% 27%, 100% 40%);
    top: -100px;
  }
}
